<!-- banner-bottom -->

<div class="tm-section-wrap" style="margin-left: 3em;">
  <div class="row">
    <blockquote>Thông điệp của giám đốc</blockquote>
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.17in; margin-bottom: 0.17in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="fr-FR"><B>Kính gửi: Quý khách hàng!</B></SPAN></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="fr-FR"
            >Bảo vệ môi trường đã và đang là đề tài nóng bỏng được cả thế giới
            quan tâm. Ngành công nghiệp môi trường ra đời dựa trên nền khoa
            học kĩ thuật hiện đại, góp phần đưa ra các giải pháp nhằm ngăn
            ngừa, giảm thiểu và xử lý các tác động xấu do hoạt động của con
            người gây ra đối với môi trường. Đồng thời, góp phần thúc đẩy sự
            phát triển bền vững – phát triển xanh.</SPAN
          ></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          >Công ty TNHH TM&amp;DV Phát triển Công nghệ Môi trường NKP thành
          lập ngày
        </FONT></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"><SPAN LANG="vi-VN">13/05/2019</SPAN></FONT></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"> theo Giấy phép kinh doanh số </FONT></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"><SPAN LANG="vi-VN">0315671650</SPAN></FONT></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4">
          do Sở kế hoạch và đầu tư TP Hồ Chí Minh cấp. Sự ra đời của Công
          ty</FONT
        ></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="fr-FR">
            dựa trên tâm huyết của các kĩ sư môi trường, cử nhân khoa học
            ngành môi trường trẻ và năng động cùng sự cố vấn của các chuyên
            gia trong lĩnh vực môi trường tại Việt Nam. Công ty hoạt động
            chuyên sâu trong lĩnh vực sau&nbsp;:</SPAN
          ></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      •<FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="vi-VN">
            Cung cấp máy móc, thiết bị xử lý nước và môi trường.</SPAN
          ></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      •<FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="vi-VN">
            Tư vấn, thiết kế, thi công hệ thống sản xuất nước tinh
            khiết.</SPAN
          ></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      •<FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="vi-VN">
            Tư vấn, thiết kế, thi công hệ thống xử lý nước cấp sinh hoạt và
            công nghiệp</SPAN
          ></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      •<FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="vi-VN">
            Tư vấn, thiết kế, thi công hệ thống xử lý nước thải.
          </SPAN></FONT
        ></FONT
      >
    </P>
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      •<FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="vi-VN"> Tư vấn lập hồ sơ môi trường. </SPAN></FONT
        ></FONT
      >
    </P>
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      •<FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="vi-VN">
            Sản xuất chế phẩm vi sinh xử lý nước thải, rác thải.</SPAN
          ></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      •<FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="vi-VN"> Sản xuất phân vi sinh</SPAN></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="fr-FR"
            >Trong quá trình hoạt động, chúng tôi đã thể hiện và chứng minh
            được năng lực của mình khi
          </SPAN></FONT
        ></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="vi-VN"
            >thực hiện tư vấn cho nhiều dự án trong nước và đầu tư nước
            ngoài.</SPAN
          ></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4">Bằng sự tin tưởng của khách hàng, </FONT></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          ><SPAN LANG="fr-FR"
            >chúng tôi đặt ra và theo đuổi mục tiêu mang đến cho khách hàng
            sản phẩm chất lượng cao nhất, dịch vụ chuyên nghiệp và quan điểm
            về sự hợp tác của hai bên với tiêu chí hiệu quả và lâu dài.</SPAN
          ></FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          >Hiện tại, chúng tôi đang tiếp tục mở rộng quy mô hoạt động trên thị
          trường</FONT
        ></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"><SPAN LANG="vi-VN"> góp phần </SPAN></FONT></FONT
      ><FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          >đưa các sản phẩm, dịch vụ đến với nhiều đối tượng khách hàng hơn
          nữa.</FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          >Chúng tôi luôn ý thức rằng để tồn tại và phát triển trong một thị
          trường năng động với công nghệ đổi mới hàng ngày như hiện nay. Chúng
          tôi phải không ngừng học hỏi, nghiên cứu để nâng cao chất lượng sản
          phẩm, dịch vụ nhằm phục vụ khách hàng ngày càng tốt hơn và để đạt
          được mục tiêu trở thành đơn vị hoạt động hàng đầu trong lĩnh vực môi
          trường tại Việt Nam.</FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="JUSTIFY"
      STYLE="text-indent: 0.25in; margin-top: 0.08in; line-height:1.7"
    >
      <FONT FACE="Times New Roman, serif"
        ><FONT SIZE="4"
          >Với tất cả uy tín và năng lực của mình, chúng tôi cam kết sẽ nỗ lực
          hết sức mình vì công việc và trung thành với quyền lợi của Quý khách
          hàng!</FONT
        ></FONT
      ></P
    >
    <P
      ALIGN="CENTER"
      STYLE="margin-left: 1.5in; text-indent: 0.5in; margin-top: 0.17in; margin-bottom: 0.11in"
    >
      <FONT COLOR="#000000"
        ><FONT FACE="Times New Roman, serif"
          ><FONT SIZE="3"><B>GIÁM ĐỐC</B></FONT></FONT
        ></FONT
      ></P
    >
  </div>
</div>
