<!-- banner-bottom -->
<div class="banner-bottom">
  <div class="container container-content">
    <div class="row">
      <div class="col-md-7 wthree_banner_bottom_right">
        <div
          class="bs-example bs-example-tabs"
          role="tabpanel"
          data-example-id="togglable-tabs"
        >
          <div class="container-fluid main-padding message">
            <h1 class="txt2">Thông điệp của <span>Giám Đốc</span></h1>
            <div class="quote">
              <img src="https://hbcg.vn/img/quote-mark.png" />
              <p>
                Trường Thịnh ơi, bao ước mơ hy vọng<br />
                Và đợi mong khát khao đang dâng trào<br />
                Một Việt Nam ngời sáng giữa trời sao<br />
                Trường Thịnh ơi, thế giới đang đón chào.
              </p>
            </div>
            <div class="row">
              <div class="col-sm-12 message-content">
                <p>
                  <span class="firstcharacter">C</span>ông ty TNHH Thương mại
                  Dịch vụ & Đầu tư sản xuất TRƯỜNG THỊNH được thành lập vào
                  tháng 9 năm 2019, là công ty chuyên cung cấp chuỗi dịch vụ
                  tổng hợp cho các doanh nghiệp.
                </p>
                <p>
                  Trong bối cảnh nền kinh tế toàn cầu hóa hiện nay cũng như kinh
                  tế đất nước ngày càng phát triển và lớn mạnh, nhu cầu liên kết
                  giữa các đối tác là rất lớn và đa dang. Trong khi đó, nhiều
                  công ty hiện tại chỉ cung cấp một mảng dịch vụ nhất định, điều
                  này đã gây nhiều khó khăn cho hoạt động sản xuất kinh doanh
                  của khách hàng. Vì vậy, công ty Trường thịnh đã được thành lập
                  nhằm mục đích cung cấp chuỗi dịch vụ để hỗ trợ và góp phần
                  giải quyết các vấn đề khó khăn cho các doanh nghiệp. Với trang
                  thiết bị hiện đại và các thiết bị chuyên dùng, cùng đội ngũ
                  nhân sự quản lý sản xuất chuyên nghiệp và đội ngũ kỹ thuật
                  lành nghề, công ty Trường Thịnh mang đến những sản phẩm có
                  chất lượng cao, tiến độ giao hàng đảm bảo, giá thành hợp lý
                  nhằm đáp ứng các yêu cầu và nhu cầu khác nhau của Quý khách
                  hàng.
                </p>
                <p>
                  Đến với Trường Thịnh, Quý khách hàng sẽ tiết kiệm được thời
                  gian và dễ dàng quản lý tài chính, chất lượng, tiêu chuẩn sản
				  phẩm bởi chúng tôi cung cấp đầy đủ các dịch vụ như:<br> 
				  1. Tư vấn đầu tư xây dựng & giám sát các công trình đường dây và trạm
				  biến áp có cấp điện áp đến 35kV;<br> 
				  2. Khảo sát địa chất, khảo sát địa hình công trình; <br>
				  3. Thiết kế, thẩm tra thiết kế xây dựng (kiến trúc; kết cấu; cơ - điện; cấp thoát nước) công
				  trình dân dụng và công nghiệp; <br>
				  4. Thiết kế, thẩm tra thiết kế
				  xây dựng công trình giao thông (cầu, đường bộ); <br>
				  5. Quản lý dự
				  án đầu tư xây dựng. <br>
				  6. Giám sát thi công xây dựng công trình
				  dân dụng & công nghiệp, giao thông (cầu, đường bộ);<br> 
				  7. Thi
				  công xây dựng các công trình dân dụng và công nghiệp.<br> 
				  8. Sản
                  xuất các sản phẩm đột dập, tiện, hàn và các thiết bị chuyên
                  dùng, dụng cụ phụ trợ cho các ngành sản xuất băng tải, sản
                  phẩm gia dụng, nội thất,… <br>
                </p>
                <p>
					Với phương châm “Hợp tác để cùng thành công”, “Uy tín, tận tâm
					tạo nên giá trị”, và định hướng “Liên tục cải tiến”, Trường
					Thịnh đã, sẽ và luôn nỗ lực cả về nhân lực, vật lực, xây dựng
					uy tín thương hiệu, niềm tin với khách hàng với những sản phẩm
					chúng tôi cung cấp. Sự tin tưởng và ủng hộ của Quý khách hàng
					trong suốt thời gian qua là nguồn động viên to lớn trên bước
					đường phát triển của Trường Thịnh. Chúng tôi xin hứa sẽ không
					ngừng hoàn thiện, phục vụ Quý khách hàng tốt nhất để luôn xứng
					đáng với niềm tin ấy.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 wthree_banner_bottom_left">
        <div class="video-img data-content-wrapper">
          <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
            <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
          </a>
        </div>

        <div id="small-dialog" class="mfp-hide">
          <iframe src="https://www.youtube.com/embed/MAQZkqGQ2CU"></iframe>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <!-- tittle heading -->
      <h3 class="tittle-w3l">
        Tuyên ngôn giá trị
        <span class="heading-style">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </h3>
      <!-- //tittle heading -->
      <div class="container-fluid main-padding declaration">
        <div class="row">
          <div class="col-sm-4">
            <p class="txt13">HOÀI BÃO</p>
            <p>
				Thế mạnh làm nên thương hiệu Trường
				Thịnh khác biệt chính là: Sự chuyên môn hóa trong từng bộ
				phận, tính trách nhiệm cao cùng những giám sát kỹ thuật làm
				việc nghiêm túc, cẩn thận nhằm tạo nên những sản phẩm hoàn
				thiện đến từng chi tiết nhỏ nhất. Ngoài ra, các bộ phận thường
				xuyên trao đổi công việc, chia sẻ những khó khăn, sáng kiến
				xây dựng nên một Trường Thịnh năng động, sáng tạo, chuyên
				nghiệp hơn trong từng dự án chúng tôi tham gia.
            </p>
          </div>
          <div class="col-sm-4">
            <p class="txt13">SỨ MỆNH</p>
            <p>
              Sứ mệnh của Trường Thịnh là đem lại sự an tâm và lợi ích cộng
              hưởng cho khách hàng; kiến tạo một xã hội văn minh, phát triển bền
              vững bằng những sản phẩm, dịch vụ có ưu điểm vượt trội, tiết kiệm
              tài nguyên, thân thiện với môi trường.
            </p>
          </div>
          <div class="col-sm-4">
            <p class="txt13">TRIẾT LÝ KINH DOANH</p>
            <p>
              Một doanh nghiệp thành công và phát triển bền vững chỉ khi mọi
              thành viên đều sẵn sàng phục vụ cho khách hàng bằng niềm đam mê,
              lòng yêu nghề và thành tâm cống hiến cho xã hội với tất cả tài
              năng cùng lòng nhiệt huyết của mình.
            </p>
          </div>
        </div>
        <div class="row gia-tri-cot-loi">
          <div class="col-sm-6">
            <p class="txt13">7 GIÁ TRỊ CỐT LÕI</p>

            <ul style="padding-left: 20px;">
              <li>ỨNG XỬ VĂN MINH</li>
              <li>HÀNH XỬ CHÍNH TRỰC</li>
              <li>THỰC THI CAM KẾT</li>
              <li>TUÂN THỦ KỶ LUẬT</li>
              <li>TÍCH HỢP TINH HOA</li>
              <li>TÍCH CỰC SÁNG TẠO</li>
              <li>CHỦ ĐỘNG HỢP TÁC</li>
            </ul>
            <img
              src="https://hbcg.vn/img/gia-tri-cot-loi.png"
              class="visible-xs"
            />
            <p class="txt15">
              <span class="firstcharacter">1</span>
              <span class="txt14">ỨNG XỬ VĂN MINH THEO 7T</span>
            </p>
            <p>
              <b>TẬN TỤY, TRUNG THÀNH</b> đối với công ty<br />
              <b>TẬN TÌNH, CHU ĐÁO</b> đối với khách hàng<br />
              <b>TỰ TRỌNG, CẦU TIẾN</b> đối với bản thân<br />
              <b>THẤU HIỂU, GƯƠNG MẪU</b> đối với cấp dưới<br />
              <b>TƯƠNG TRỢ, CỘNG TÁC</b> đối với đồng nghiệp<br />
              <b>TÔN KÍNH, PHỤC TÙNG</b> đối với cấp trên<br />
              TRUNG THỰC, KHIÊM TỐN đối với mọi người
            </p>
          </div>
          <div class="col-sm-6">
            <img
              src="https://hbcg.vn/img/gia-tri-cot-loi.png"
              style="width: 70%;"
              class="hidden-xs"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <p class="txt15">
              <span class="firstcharacter">2</span>
              <span class="txt14">HÀNH XỬ CHÍNH TRỰC THEO 7 CÔNG</span>
            </p>
            <p>
              <b>CÔNG TÂM</b> trong phân xử<br />
              <b>CÔNG CHÍNH</b> trong thu nhập<br />
              <b>CÔNG BẰNG</b> trong đối đãi<br />
              <b>CÔNG MINH</b> trong thưởng phạt<br />
              <b>CÔNG PHÁP</b> trong hành động<br />
              <b>CÔNG LÝ</b> trong tư duy<br />
              <b>CÔNG KHAI</b> trong tài chính
            </p>
          </div>
          <div class="col-sm-4">
            <p class="txt15">
              <span class="firstcharacter">3</span>
              <span class="txt14">THỰC THI CAM KẾT THEO 7 ĐÚNG</span>
            </p>
            <p>
              <b
                >ĐÚNG chất lượng<br />
                <b>
                  ĐÚNG thời gian<br />
                  <b
                    >ĐÚNG khối lượng<br />
                    <b
                      >ĐÚNG giá trị<br />
                      <b
                        >ĐÚNG tiêu chuẩn<br />
                        <b
                          >ĐÚNG xuất xứ<br />
                          <b>ĐÚNG biện pháp</b></b
                        ></b
                      ></b
                    ></b
                  ></b
                ></b
              >
            </p>
            <b
              ><b><b> </b></b
            ></b>
          </div>
          <b
            ><b
              ><b>
                <div class="col-sm-4">
                  <p class="txt15">
                    <span class="firstcharacter">4</span>
                    <span class="txt14">TUÂN THỦ KỶ LUẬT THEO 7 KHÔNG</span>
                  </p>
                  <p>
                    <b>KHÔNG</b> vi phạm pháp luật<br />
                    <b>KHÔNG</b> vi phạm điều lệ<br />
                    <b>KHÔNG</b> vi phạm thỏa ước<br />
                    <b>KHÔNG</b> vi phạm nội quy<br />
                    <b>KHÔNG</b> vi phạm quy chế<br />
                    <b>KHÔNG</b> vi phạm quy trình<br />
                    <b>KHÔNG</b> vi phạm thuần phong mỹ tục
                  </p>
                </div>
              </b></b
            ></b
          >
        </div>
        <b
          ><b>
            <div class="row">
              <div class="col-sm-4">
                <p class="txt15">
                  <span class="firstcharacter">5</span>
                  <span class="txt14">Tích hợp tinh hoa (6 + 1)</span>
                </p>
                <p>
                  Sáng tạo về Khởi nghiệp<br />
                  Sự hiệu quả về Quản trị<br />
                  Sự tinh xảo về Công nghệ<br />
                  Sự tinh tường về Kỹ năng<br />
                  Sự toàn diện về Chất lượng<br />
                  Sự thần kỳ về Tốc độ<br />
                  Sự kiên cường về Ý chí của người Việt Nam
                </p>
              </div>
              <div class="col-sm-4">
                <p class="txt15">
                  <span class="firstcharacter">6</span>
                  <span class="txt14">TÍCH CỰC SÁNG TẠO THEO 7 LĨNH VỰC</span>
                </p>
                <p>
                  Kỹ thuật<br />
                  Công nghệ<br />
                  Quản trị<br />
                  Kinh doanh<br />
                  Văn hóa<br />
                  Giáo dục <br />
                  Nghệ thuật
                </p>
              </div>
              <div class="col-sm-4">
                <p class="txt15">
                  <span class="firstcharacter">7</span>
                  <span class="txt14">CHỦ ĐỘNG HỢP TÁC THEO 7 YÊU CẦU</span>
                </p>
                <p>
                  Khiêm nhường<br />
                  Kiên nhẫn<br />
                  Cởi mở<br />
                  Chân thành<br />
                  Hài hòa<br />
                  Thiện chí<br />
                  Thủy chung
                </p>
              </div>
            </div>
          </b></b
        >
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
