<div class="col-md-9 product-content">

        <div id="product-detail" class="product-detail">
            <!-- <h3 class="col-md-12 heading-tittle">Gia công cơ khí</h3>
            <div class="row">
                <a href="/portal/services/details">
                    <div class="col-md-4">
                        <div class="project-img-div">
                            <img src="../../../../assets/images/detail.jpg" >
                        </div>
                        <p class="txt28">Trung tâm Thể dục Thể thao và...</p>
                    </div>
                </a>
                <a href="https://hbcg.vn/project/detail/118-trungtamtheducthethaovakytucxasinhviendaihocrmit.html">
                    <div class="col-md-4">
                        <div class="project-img-div">
                            <img src="../../../../assets/images/detail.jpg" >
                        </div>
                        <p class="txt28">Trung tâm Thể dục Thể thao và...</p>
                    </div>
                </a>
                <a href="https://hbcg.vn/project/detail/118-trungtamtheducthethaovakytucxasinhviendaihocrmit.html">
                    <div class="col-md-4">
                        <div class="project-img-div">
                            <img src="../../../../assets/images/detail.jpg">
                        </div>
                        <p class="txt28">Trung tâm Thể dục Thể thao và...</p>
                    </div>
                </a>
            </div> -->
            <!-- <div *ngFor="let item of _dataHttpService"
                class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                <div class="agile_ecommerce_tab_left mobiles_grid">
                    <div class="hs-position hs-wrapper2 data-content-wrapper">
                        <img src="{{item?.image}}" alt=" " class="img-responsive" />
                        <a  href="#" class="aggression" data-toggle="modal" data-target="#myModal">

                        </a>

                    </div>
                    <h5><a href="single.html">{{item?.name}}</a></h5>
                    <div class="simpleCart_shelfItem">
                        <p><span>{{item?.description}}</span></p>
                    </div>
                    <div class="mobiles_grid_pos">
                        <h6>New</h6>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="clearfix"> </div>

</div>
