<div class="breadcrumb_dress">
  <div class="container"></div>
</div>
<div class="footer">
  <div class="">
    <div class="w3_footer_grids">
      <div class="col-md-4 w3_footer_grid">
        <h3>Liên hệ</h3>
        <ul class="address">
          <li>
            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i
            >41/1A, Ấp 7, X.Xuân Thới Thượng, H. Hóc Môn, HCM
          </li>
          <li>
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i
            ><a href="mailto:moitruong.nkp@gmail.com">moitruong.nkp@gmail.com</a>
          </li>
          <li>
            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0365
            838123 - 0937 850 141
          </li>
        </ul>
      </div>
      <div class="col-md-4 w3_footer_grid">
        <h3>Thông tin</h3>
        <ul class="info">
          <li><a href="/portal/trang-chu">Trang chủ</a></li>
          <li><a href="/portal/gioi-thieu">Giới thiệu</a></li>
          <li><a href="/portal/lien-he">Liên hệ</a></li>
          <li><a href="/portal/tuyen-dung">Tuyển dụng</a></li>
        </ul>
      </div>

      <div class="col-md-4 w3_footer_grid">
        <div class="agileits_social_button">
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li><a href="#" class="google"> </a></li>
            <li><a href="#" class="pinterest"> </a></li>
          </ul>
        </div>
        <div class="copy-right">
          <p>&copy; MoiTruongNKP. All rights reserved | Design by Thao Tran Van</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="footer-copy">
    <!-- <div class="footer-copy1">
          <div class="footer-copy-pos">
            <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>
          </div>
      </div> -->
    
  </div>
</div>
