<div style="background-image: url(../../../assets/images/header_official.jpg);
background-position: left;">
  <div class="header" id="home1">
    <div class="container container-header">
      <div class="w3l_login">
        <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user"
            aria-hidden="true"></span></a>

      </div>
      <div class="header_logo_title">
        <div class="header_logo_official">
          <img src="../../../assets/images/2logo-official.png">
        </div>
        <h1>
          <a href="/portal/index">Trường Thịnh
            <span>Uy tín là thương hiệu</span>
          </a>
        </h1>
      </div>
      <div class="search">
        <input class="search_box" type="checkbox" id="search_box">
        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search data-content-wrapper"
            aria-hidden="true"></span></label>
        <div class="search_form data-content-wrapper">
          <form action="#" method="post">
            <input type="text" name="Search" placeholder="Search...">
            <input type="submit" value="Search">
          </form>
        </div>
      </div>
    </div>
  </div>


</div>