<div class="background-cover-header">
  <div class="header" id="home1">
    <div class="container container-header">
      <div class="w3l_login" style="display: none;">
        <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user"
            aria-hidden="true"></span></a>

      </div>
      <div class="header_logo_title">
        <div class="header_logo_official">
          <img src="../../../assets/images/logo_moitruongnkp.png">
        </div>
        <h1>
          <a href="/portal/index" >Công ty TNHH TM DV & Phát triển
            <span style="font-family: system-ui;">công nghệ môi trường nkp</span>
          </a>
        </h1>
      </div>
      <div class="search" style="display: none;">
        <input class="search_box" type="checkbox" id="search_box">
        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search data-content-wrapper"
            aria-hidden="true"></span></label>
        <div class="search_form data-content-wrapper">
          <form action="#" method="post">
            <input type="text" name="Search" placeholder="Search...">
            <input type="submit" value="Search">
          </form>
        </div>
      </div>
    </div>
  </div>


</div>