blockquote {
    text-align: center;
    line-height: 1.5em;
    font-family: 'Futura Bold', sans-serif;
    font-size: 34px;
    color: #002C65;
    border-left: none;
    padding: 20px 30px 20px 50px;
    position: relative;
    font-weight: bolder;
}

blockquote:before {
    font-family: Georgia, serif;
    content: "”";
    font-size: 3em;
    font-weight: bold;
    color: #002C65;
    transform: rotate(180deg);
    position: absolute;
    left: -10px;
    top: 0;
}

blockquote:after {
    font-family: Georgia, serif;
    content: "”";
    font-size: 3em;
    font-weight: bold;
    color: #002C65;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* about */

.tm-text-primary { 
    color: #006699; 
    text-align: center;
    text-transform: uppercase;
}
.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

hr {
    border-top: 4px solid #CCC;
}


.tm-row-about {
	padding-left: 15px;
	padding-right: 15px;
}

.tm-col-about-l { width: calc(100% - 500px); }

.tm-col-about-r {
	width: 400px;
	margin-right: 0;
	margin-left: auto;
}

@media (max-width: 1660px) {
	.tm-col-about { width: 50%; }
	.tm-col-about-l { padding-right: 30px; }
}

@media (max-width: 1200px) {
	.tm-col-about { width: 100%; }
	.tm-col-about-l { padding-right: 0; }
}

.tm-social {
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
}

.tm-social li { list-style: none; }

.tm-social li a {
	font-size: 1.4rem;
	padding: 10px;
	color: white;
}

.fab { transition: all 0.3s ease; }
.tm-social-link:hover .fa-instagram { color: #8134AF; }
.tm-social-link:hover .fa-facebook { color: #3b5998; }
.tm-social-link:hover .fa-twitter { color:  #00acee; }
.tm-social-link:hover .fa-youtube { color: #c4302b; }

.slick-dots {
	position: static;
    margin-top: 50px;
}

.slick-dots li {
	width: 24px;
	margin-bottom: 10px;
}

.slick-dots li button { width: 24px; }

.slick-dots li button:before {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-weight: 900;
    content: "\f04d";
    color: #eee;
    opacity: 1;
	width: 24px;
	height: 24px;
    transition: all 0.3s ease;
}

.slick-dots li button:hover:before, 
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
    color: #006699;
}

.tm-carousel {
	width: 100%;
	max-width: 1800px;
	margin-left: -15px;
	margin-right: -15px;
}

.tm-carousel-item {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 300px;
}

.tm-carousel figure {
	position: relative;
	float: left;
	overflow: hidden;	
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	max-width: 270px;
}

.tm-carousel figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.tm-carousel figure figcaption {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
  
.tm-carousel figure figcaption::before,
.tm-carousel figure figcaption::after {
	pointer-events: none;
}
  
.tm-carousel figure figcaption,
.tm-carousel figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
  
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.tm-carousel figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.tm-about-title { font-size: 24px; }
.tm-about-subtitle { font-size: 20px; }
.welcome {
	box-shadow: 1px 0px 1px 1px #D6D6D6;
    padding: 10px;
}
.welcome-description{
	text-align: justify;
    font-family: system-ui;
    line-height: 2.3em;
    font-weight: 600;
}