/*-- navigation --*/
.navbar-default .navbar-nav > li > a {
    color: #fff;
  -webkit-transition:.5s all;
  -moz-transition:.5s all; 
  transition:.5s all;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #d8703f;
  }
  .navbar-default .navbar-nav > li > a:focus {
    color: #FF5722 !important;
  }
  .navbar-default {
    background: none;
    border: none;
  }
  .navbar-collapse {
    padding: 0;
  }
  ul.multi-column-dropdown h6 {
    font-size: 1.5em;
    color: #3c43a4;
    margin: 0 0 .6em;
    padding-bottom: .6em;
    border-bottom: 1px solid #E4E4E4;
    text-transform: capitalize;
    cursor: pointer;
  }
  .multi-column-dropdown li {
    list-style-type: none;
    margin: 7px 0;
  }
  .multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #101010 !important;
    white-space: normal;
  font-weight:500 !important;
  text-decoration:none;
  font-family: -webkit-body;
  font-size: 1em;
  }
  .single-column li{
    list-style-type: none;
  }
  .single-column li h6 a,.multi-column-dropdown h6 a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #002c65   !important;
    white-space: normal;
    /* font-weight:500 !important; */
    text-decoration:none;
    font-size: .8em;
    text-align: left;
    min-width: 24em;
    padding-left: 1.5em;
  }
  .single-column li h6 {
    font-size: 1.3em !important;
  }
  
  .multi-column-dropdown{
    margin: 1.5em 0px;
  }
  
  .multi-column-dropdown li a:hover{
  color:#FF5722 !important;
  
  }
  .single-column li a:hover{
    color:#FF5722 !important;
    }
  .multi-column-dropdown li a span {
    margin-left: 1em;
    padding: .1em .5em;
    background:#FF5722;
    color: #fff;
  }
  .multi-column-dropdown li a i {
    font-size: 1.1em;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 3em 0 0;
    display: block;
    padding: .4em .5em;
    background: #3c43a4;
    text-align: center;
  }
  .navbar-nav li .dropdown-menu{
  
  }
  .dropdown-menu.columns-3 {
  
    padding: 0px 15px;
    left: -15%;
    text-align: center;
    /* min-width: 23em; */
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
    border: none;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
  /*-- agileits --*/
  } 
  .nav > li > a:hover, .nav > li > a:focus {
    background: none;
  }
  .navbar-nav > li > a {
    padding: 29px 18px 0;
  }
  .navbar-nav > li > a {
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .navbar-nav > li > span {
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
  }
  .nav>li>span {
    position: relative;
    display: block;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > span:hover, .navbar-default .navbar-nav > li > span:focus {
    color:#FF5722;
    cursor: pointer;
  }
  .navbar {
    margin-bottom: 0;
  z-index: 100;
  }
  .navigation {
  
  text-align:center;
  background:#029ddfed;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-nav > li:nth-child(1) {
    margin-left: 12em;
  } 
  .w3ls_products_pos h4 {
    font-size: 2em;
    text-align: right;
    margin-bottom: 1em;
  }
  .w3ls_products_pos h4 i {
    margin: .5em 0 0;
    text-align: left;
    padding-left: 0.3em;
    color: #FF5722;
  }
  li.w3pages .dropdown-menu > li > a {
    color: #999;
    font-size: .9em;
    padding: 5px 25px;
  text-transform: uppercase;
  }
  li.w3pages ul.dropdown-menu {
    min-width: inherit;
    left: 3%;
  }
  li.w3pages .dropdown-menu > li > a:hover{
    color: #000; 
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > span, .navbar-default .navbar-nav > .open > span:hover, .navbar-default .navbar-nav > .open > span:focus {
    color: #FF5722; 
  }

  ul.multi-column-dropdown h6 span {
    line-height: 1.2;
    font-size: .7em;
    font-weight: bolder;
    margin-right: 5px;
  }

  /*-- //navigation --*/

#navigation-dropdown-tabs ul li a{
    font-family: Futura, Arial, sans-serif;
}

@media only screen and (max-width: 3000px){
    .navbar-nav > li:nth-child(1) {
        margin-left: 3em;
    }

    .navbar-nav > li > a {
        padding: 20px 30px !important;
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 2000px){
    .navbar-nav > li:nth-child(1) {
        margin-left: 2em;
    }

    .navbar-nav > li > a {
        padding: 20px 25px !important;
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 1500px){
    .navbar-nav > li:nth-child(1) {
        margin-left: 2em;
    }

    .navbar-nav > li > a {
        padding: 20px 15px !important;
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 1080px){
    .navbar-nav > li:nth-child(1) {
        margin-left: 1em;
    }

    .navbar-nav > li > a {
        padding: 15px 12px !important;
        font-size: 11px !important;
    }
}
@media only screen and (max-width: 991px){
    .navbar-nav > li > a {
        padding: 10px 8px !important;
        font-size: 10px !important;
    }

    .dropdown-menu.columns-3 {
        /* min-width: 638px !important; */
    }
    
}

@media only screen and (max-width: 860px){
    .navbar-nav > li > a {
        padding: 10px 8px !important;
        font-size: 9px !important;
    }
    .dropdown-menu.columns-3 {
        /* min-width: 460px !important; */
    }
}

@media only screen and (max-width: 800px){
    .navbar-nav > li > a {
        padding: 10px 8px !important;
        font-size: 9px !important;
    }
    
}

@media only screen and (max-width: 768px){
    .single-column li h6 a,.multi-column-dropdown h6 a {
       
        color: #002c65   !important;
        white-space: normal;
        font-weight:500 !important; 
        text-decoration:none;
        font-size: .8em;
        text-align: center;
        min-width: 24em;

    }
}




.navbar-nav > li:nth-child(1){
    margin-left: 2em !important;
}

.navbar-nav > li > a {
    letter-spacing: 0px !important;
}