<div class="umb-grid contact-container">
  <div class="grid-section">
    <div>
      <div class="">
        <div class="column">
          <div>
            <div class="hot-line" style="background-color: #002c65">
              <div class="contact section">
                <img src="../../../assets/images/icons/call-icon.png" alt="" />
                <div class="content">
                  <p style="color: #ffffff">Phone: 0365 838123</p>
                </div>
              </div>
              <div class="contact section">
                <img src="../../../assets/images/icons/fax-icon.png" alt="" />
                <div class="content">
                  <p style="color: #ffffff">Fax: 0365 838123</p>
                </div>
              </div>
              <div class="contact section">
                <img src="../../../assets/images/icons/mail-icon.png" alt="" />
                <div class="content">
                  <p style="color: #ffffff">
                    Mail: moitruong.nkp@gmail.com
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="col-md-12 column">
          <div>
            <div class="cmp-rich-text">
              <p>
                Bằng sự tin tưởng của khách hàng, chúng tôi đặt ra và theo đuổi mục tiêu mang đến cho khách hàng sản phẩm chất lượng cao nhất, dịch vụ chuyên nghiệp và quan điểm về sự hợp tác của hai bên với tiêu chí hiệu quả và lâu dài.
              </p>
             
              <h4><strong>Chi tiết thông tin</strong></h4>
              <p>
                Mọi thông tin thắc mắc về Công ty TNHH TM&DV Phát triển Công nghệ Môi trường NKP vui lòng liên hệ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="col-md-2 column">
          <div></div>
        </div>
        <div class="col-md-8 column">
          <div>
            <div id="submit-contact" class="contactform">
              <form
                action="/contact-us/"
                enctype="multipart/form-data"
                method="post"
                novalidate="novalidate"
              >
                <div class="forms-page">
                  <div class="contactForm">
                    <div class="form--single w w--form-single-col">
                      <div class="forms-field firstname shortanswer mandatory">
                        <div class="field-wrapper">
                          <label
                            class="small-3 medium-3 large-3"
                            style="min-width: fit-content"
                          >
                            Họ của bạn
                          </label>
                          <span class="forms-indicator">*</span>
                          <div class="small-12 medium-12 large-12">
                            <input
                              class="input-contact"
                              type="text"
                              maxlength="500"
                              placeholder="Vui lòng nhập họ của bạn."
                              data-val="true"
                              data-val-required="Please enter your first name. Must be alpha characters"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="forms-field lastname shortanswer mandatory alternating">
                        <div class="field-wrapper">
                          <label
                            class="small-3 medium-3 large-3"
                            style="min-width: fit-content"
                          >
                            Tên của bạn
                            <span class="forms-indicator">*</span>
                          </label>

                          <div
                            class="forms-field-wrapper small-12 medium-12 large-12"
                          >
                            <input
                              class="input-contact"
                              type="text"
                              maxlength="500"
                              placeholder="Vui lòng nhập họ của bạn."
                              data-val="true"
                              data-val-required="Please enter your last name. Must be alpha characters"
                            />
                          </div>
                        </div>
                      </div>
                      <div
                        class="forms-field mobilephone shortanswer mandatory"
                      >
                        <div class="field-wrapper">
                          <label
                            class="forms-label small-3 medium-3 large-3"
                            style="min-width: fit-content"
                          >
                            Số điện thoại
                            <span class="forms-indicator">*</span>
                          </label>

                          <div
                            class="forms-field-wrapper small-12 medium-12 large-12"
                          >
                            <input
                              class="input-contact"
                              type="text"
                              maxlength="500"
                              placeholder="Vui lòng nhập số điện thoại."
                              data-val="true"
                              data-val-required="Please enter a valid phone number with no spaces"
                              data-val-regex="Please enter the valid phone number"
                              data-val-regex-pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                              data-regex="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                            />
                          </div>
                        </div>
                      </div>
                      <div
                        class="forms-field emailaddress shortanswer mandatory alternating"
                      >
                        <div class="field-wrapper">
                          <label
                            class="forms-label small-3 medium-3 large-3"
                            style="min-width: fit-content"
                          >
                            Email
                            <span class="forms-indicator">*</span>
                          </label>

                          <div
                            class="forms-field-wrapper small-12 medium-12 large-12"
                          >
                            <input
                              class="input-contact"
                              type="text"
                              maxlength="500"
                              placeholder="Vui lòng nhập email."
                              data-val="true"
                              data-val-required="Please enter valid email address."
                              data-val-regex="Please enter valid email address."
                              data-val-regex-pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+"
                              data-regex="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+"
                            />
                          </div>
                        </div>
                      </div>
                      <div
                        class="forms-field enquirymessage longanswer mandatory"
                      >
                        <div class="field-wrapper">
                          <label
                            class="forms-label small-3 medium-3 large-3"
                            style="min-width: fit-content"
                          >
                            Nội dung
                          </label>

                          <div
                            class="forms-field-wrapper small-12 medium-12 large-12"
                          >
                            <textarea
                              class="input-contact"
                              rows="5"
                              maxlength="1000"
                              placeholder="Vui lòng nhập nội dung."
                              data-val="true"
                              data-val-required="Please provide a value for Enquiry Message"
                            ></textarea>
                          </div>
                        </div>
                      </div>

                      <div class="forms-navigation">
                        <button
                          type="button"
                          class="button button--action form__submit expanded"
                          id="btnSubmit"
                        >
                          <div class="button__content-spinner">
                            <div class="spinner"></div>
                          </div>
                          <span class="button__text">Gửi</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
