<!-- About section -->
<div class="tm-section-wrap">
  <section id="about" class="tm-section welcome">
    <h2 class="tm-text-primary">Hân hạnh được đón tiếp quý khách !!!</h2>
    <hr class="mb-5" />

    <div class="row tm-row-about">
      <div class="col-md-4 tm-col-about tm-col-about-l">
        <p class="mb-4 welcome-description">
          Chào mừng Quý khách đến với website của<strong> NKP</strong>
          chuyên về xử lý nước & môi trường. Hy vọng Quý khách sẽ tìm được những
          gì cần có ở đây. Các sản phẩm và dịch vụ của NKP sẽ giúp Quý khách làm
          sạch nước từ mọi nguồn.
        </p>
        <br />
        <p class="mb-4">Chúc Quý khách hài lòng !</p>
        <br />
      </div>
      <div class="col-md-5 tm-col-about tm-col-about-r">
        <img
          src="assets/images/moitruong.jpg"
          alt="Image"
          class="img-fluid mb-5 tm-img-about"
        />
      </div>
      <br />
      <div class="col-md-12" style="text-align: center; line-height: 35px">
        <strong>UY TÍN TUYỆT ĐỐI</strong>: chỉ cung cấp HÀNG THẬT, HÀNG CHÍNH
        HÃNG.<br />
        <strong>SẢN PHÂM CHẤT LƯỢNG CAO, GIÁ THÀNH CẠNH TRANH !!!</strong>
      </div>
    </div>
  </section>
</div>

<br />
<br />

<app-all-relative-product></app-all-relative-product>
