
<!-- banner-bottom -->
<div class="banner-index">
	<div class="container container-content">
		<div class="col-md-9 index_banner_right">
			<!-- banner -->
			<div id="slideCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators-->
		
			</div>

			<!-- //banner -->

		</div>
		<div class="col-md-3 index_banner_left">
			<div class="img-video-home data-content-wrapper">
				<img src="../../assets/images/introduce-2.png"/>
				<a class="play-icon popup-with-zoom-anim" href="#small-dialog">
					<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
				</a>
			</div>

			<div id="small-dialog" class="mfp-hide">
				<iframe src="https://www.youtube.com/embed/y_uktwy1Cxw"></iframe>
			</div>


			<div class="about-index" id="represented-item">
			</div>

		</div>

		<div class="clearfix"> </div>
	</div>
</div>
<!-- //banner-bottom -->
